.logo{
    width: 130%;
    max-width: 150px;
    float: left;
}
#logo{
    width: 150px;
}
nav{width: 120% ;
    }
nav ul{
    height: 80px;
    background-color: rgba(119, 119, 19, 0.767);
    padding: 20px 20px;
    }
nav ul li{
    display: inline;
    padding: 8px; 
    list-style: none;  
  }
nav ul li:hover, nav ul li.active{
    background-color: rgba(4, 190, 103, 0.651);
}
 
nav ul li a{
    font-size: 20px;
    color: #0f0d0d;
    text-decoration: none;
}

/* End of header */
#banner{background-image: url(../img/technology-banner.jpg) ;
height:740px
}
#banner h1{ color: white;
            position:absolute;
            left:40%;
            top:40%;
        }
/* end of banner */

.container{margin: 30px 0px;
           padding: 20px 50 px;
          }
    #foto{
        width:100%;
        max-width:400px;
        margin: auto;
         }
    #foto img.foto{
        display: inline-block;
        margin:20px;
                

    }
