.logo{
    width: 100%;
    max-width: 150px;
    float: left;
}
#logo{
    width: 150px;
}
nav{width: 100% ;
      }
nav ul{
    height: 100px;
    background-color: rgba(5, 5, 5, 0.767);
    padding: 11px 0px;
          }
nav ul li{
    display: inline;
    padding: 8px 15 px; 
    list-style: none;
          }
/*  cand coloram doar literele li hover culoare ul liactive */
  nav ul li:hover,nav ul li.active{
    background-color: rgba(201, 190, 43, 0.651);
}
 
nav ul li a{
    font-size: 20px;
    color: #e2ebee;
    text-decoration: none;
    align: left;
    }

/* End of header */
#banner{background-image: url(../img/technology-banner.jpg) ;
height: 200px
}
#banner h1{ color: white;
            position:absolute;
            left:40%;
            top: 30%;
        }
/* end of banner */

.container{margin: 30px 0px;
           padding: 20px 50 px;
          }
    #foto{
        width:100%;
        max-width: 400px;
        margin: auto;
         }
    #foto img.foto{
        display: inline-block;
        margin:15px;       
    }
