#tabel1{
    border: 1px red solid;
    border-collapse: collapse;
    }
#tabel1 tr td, #tabel1 tr th{
    border: 1px blue double;
    padding: 15px;
}
#tabel1 tr th{ color:red;
    background-color: chartreuse; }
#tabel1  tbody tr:nth-child(2n){
    background-color: aquamarine;
}
#tabel1  tbody tr:nth-child(2n+1){background-color: cadetblue;
}
#tabel1 tfoot tr{background-color: chocolate;
}

