h1{
    width: 100%;
    max-width: 600px;
    border: 2px dotted #2807bd;
    margin: auto;
    text-align: center;
    padding: 20px;
}
section{
     width: 44%;
     float:left;
     border: double 3px red;
     margin: 20px;
     padding: 15px 25px;
     border-radius: 45px;
     background-image: url(../../sta-je-html.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 60% 50;
}